<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        
        <video id="video" autoplay></video>
        <canvas id="canvas" name ="photos"></canvas>

        <button id="capture-button">capture video</button>
        <button id="start-button">start</button>
        <button id="end-button">end</button>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script>
    const captureVideoButton =
      document.querySelector('#capture-button');
    const startButton = document.querySelector('#start-button');
    const endButton = document.querySelector('#end-button');
    const img = document.querySelector('#img');
    const video = document.querySelector('#video');
    
    const canvas = document.querySelector('#canvas');
    
    captureVideoButton.onclick = function() {
      navigator.mediaDevices.getUserMedia({
          video: true
      }).
        then(handleSuccess).catch(handleError);
    };
    
    var myVar;

    // end the video, stop 
    endButton.onclick = function(){
        clearInterval(myVar);
    }

    // start the video and take a screenshot per second
    startButton.onclick = video.onclick = function() {

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);

        myVar = setTimeout(myTimer, 1000);
        
        function myTimer(){
        
            // send the blob image to server
            canvas.toBlob(function(blob) {
                
                data = new FormData();
                data.append('file', blob);
                data.append('afile', 'dcm');
                console.log(blob)

                $.ajax({
                    url: "/saveimage/",
                    type: "POST",
                    data: data,
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        //document.getElementById("result").innerHTML = 'Result: Upload successful';

                    },
                    error: function(e) {
                        document.getElementById("result").innerHTML = 'Result: Error occurred: ' + e.message;
                    }
                });      
            })
        }
    };
    
    function handleSuccess(stream) {
      startButton.disabled = false;
      video.srcObject = stream;
    }

    function handleError(error) {
        console.log(error);
    }
</script>

</body>
</html>